services:
  db:
    image: postgres:18-alpine
    container_name: cryptic-db
    volumes:
      - cryptic-db:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=cryptic
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB'"]
      interval: 10s
      timeout: 3s
      retries: 5
    profiles:
      - app
      - ""

  server:
    build:
      context: .
      dockerfile: ./server/src/Cryptic.Web.Server/Dockerfile
      args:
        VITE_APP_PATH_BASE: "${VITE_APP_PATH_BASE}"
    container_name: cryptic-web
    volumes:
      - ./.docker/https/localhost.pem:/app/localhost.pem:ro
      - ./.docker/https/localhost.key:/app/localhost.key:ro
    environment:
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/localhost.pem
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/app/localhost.key
      - ConnectionStrings__Database=Server=db;Port=5432;Database=cryptic;User Id=postgres;Password=password
    ports:
      - 5000:5000
      - 5001:5001
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - app

volumes:
  cryptic-db: {}
