@inject IConfiguration Configuration

@page "/"
@page "/create"

<PageTitle>Cryptic</PageTitle>

<article class="d-flex flex-column justify-content-center align-items-center">
    <section class="d-flex flex-column justify-content-center align-items-center">
        <h5>Cryptic</h5>
        <p>Secure note sharing over the web</p>
    </section>
    
    <section>
        <InputTextArea @bind-Value="@noteContent" placeholder="Write your note here..." cols="75" rows="25"></InputTextArea>
            
        <section class="d-flex justify-content-between align-items-center">
            <p>Delete after:</p>
            <select @onchange="SetDeleteAfter">
                @foreach (var option in deleteAfterOptions)
                {
                    <option value=@option.Key>
                        @option.Value
                    </option>
                }
            </select>
        </section>
    </section>
</article>

@code {
    string noteContent = string.Empty;
    string deleteAfter = "r";

    Dictionary<string, string> deleteAfterOptions = new()
    {
        { "r", "Reading" },
        { "r!", "Reading (no warning)" },
        { "1hr", "1 hour" },
        { "1d", "1 day" },
        { "7d", "7 days" },
        { "30d", "30 days" }
    };

    private void SetDeleteAfter(ChangeEventArgs args)
    {
        deleteAfter = args.Value?.ToString() ?? "r";
    }
    
    private string GenerateRandomPassword()
    {
        return "";
    }
}